.header__lang-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    text-align: right;

    margin: 0;
    padding: 0;
}

.header__lang-item:first-of-type {
    margin-right: 18px;
}