.footer__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;

    color: #FFFFFF;
    text-decoration: none;

    max-width: fit-content;
    transition: 400ms;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
}