.cover {
    margin: 0 auto;

    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .cover {
        padding-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .cover {
        padding-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        padding-right: 48px;
        padding-left: 48px;
    }
}