.place__description {
    font-size: 16px;
    line-height: 163%;

    margin: 0;
    padding-bottom: 25px;
}

.place__description:last-of-type {
    padding-bottom: 0;
}

@media screen and (min-width: 1024px){
    .place__description {
        font-size: 18px;
        padding-bottom: 26px;
    }
}

@media screen and (max-width: 768px) {
    .place__description {
        padding-left: 16px;
        padding-right: 16px;
    }
}