.cover__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background: url("../../../images/cover-trains.jpg") no-repeat center;
    background-size: cover;

    width: 100%;
    min-height: 57.9vw;

    margin: 0 auto;

    color: #FFFFFF;
    text-decoration: none;
}

.cover__content::after {
    content: " ";
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;

    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__content:hover::after {
    opacity: 0.8;
}