.cover__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    background: url("../../../images/cover-trains.jpg") no-repeat center;
    background-size: cover;

    color: #FFFFFF;
    text-decoration: none;

    width: 100%;
    min-height: 62.5vw;

    margin: 0 auto;
}

.cover__content::after {
    content: " ";
    width: 100%;

    position: absolute;
    top: 0;
    bottom: 0;

    background-color: #2A2C2F;
    transition: 400ms;
    opacity: 0.3;
}

.cover__content:hover::after {
    opacity: 0.8;
}

@media screen and (min-width: 1280px){
    .cover__content {
        min-height: 740px;
        max-width: 1184px;
    }
}